<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SVN.Core" version="4.3.0" targetFramework="net46" />
  <package id="SVN.Debug" version="1.0.5" targetFramework="net46" />
  <package id="SVN.Drawing" version="4.1.4" targetFramework="net46" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net46" />
</packages>